<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<!--SHOW ALL NOTES ASSOCIATED WITH ITEM-->
<!--loop through all notes and display on page-->

<h1>notes page</h1>

<p><%= food.notes %> </p>


</main>

<%- include('../partials/footer') %>