<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<!--SHOW ALL NOTES ASSOCIATED WITH ITEM-->
<!--loop through all notes and display on page-->

<h1>notes page</h1>

<%= note.content %> 
<!-- <%# note.forEach(n => { %>
  <%# n.content %>
<%# }) %>  -->

</main>

<%- include('../partials/footer') %>