<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<!--SHOW ALL NOTES ASSOCIATED WITH ITEM-->
<!--loop through all notes and display on page-->

<h1> Show this </h1>
</main>
<%- include('../partials/footer') %>