<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Foodie Baby</h1>
  <img src="/images/auth/google/mainpic.png" width="500px" height="500px">
  <p id="intro">Welcome, <%= user ? user.profile.name : "fellow parent" %>! Having trouble deciding what to make to eat for your new little eater? No problem! Take a look here for ideas for each different food group then pay it forward! Contribute a food idea and keep other parents from overthinking their grocery list every week.</p>
</main>

<%- include('./partials/footer') %>
