#fibers-pic {
  display: inline-flex;
  padding: 100px 50px 0px 50px;

}

#protein-pic {
  display: inline-flex;
  padding: 100px 50px 0px 50px;
}

#grains-pic {
  display: inline-flex;
  padding: 100px 50px 0px 50px;
}

