<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/foods/index.css">

<%- include('../partials/nav') %>

<main>

<h1>Choose a Category</h1>

<div class="container">

  <div id="fibers-pic" class="image">
    <a href="/foods/category/Fruits & Veggies">
    <img src="/images/auth/google/fibers.png" alt="different types of fruits & veggies" width="100%" height="100%">
    </a>
    <div>Fruits & Veggies</div>
  </div>

  <div id="proteins-pic" class="image">
    <a href="/foods/category/Proteins">
    <img src="/images/auth/google/proteins.png" alt="different types of proteins" width="100%" height="100%">
    </a>
    <div>Proteins</div>
  </div>

  <div id="grains-pic" class="image">
    <a href="/foods/category/Grains">
    <img src="/images/auth/google/grains.png" alt="different types of grains" width="100%" height="100%">
    </a>
    <div>Grains</div>
  </div>
</div>

</main>

<%- include('../partials/footer') %>