<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/foods/index.css">

<%- include('../partials/nav') %>

<main>

<h1>Choose a Category</h1>

<div class="pics">
  <div id="fibers-pic">
    <a href="/foods/category/Fruits & Veggies">
    <img src="/images/auth/google/fibers.png" alt="different types of fruits & veggies" width="200" height="200">
    </a>
  </div>
  <div id="proteins-pic">
    <a href="/foods/category/Proteins">
    <img src="/images/auth/google/proteins.png" alt="different types of proteins" width="200" height="200">
    </a>
  </div>
  <div id="grains-pic">
    <a href="/foods/category/Grains">
    <img src="/images/auth/google/grains.png" alt="different types of grains" width="200" height="200">
    </a>
  </div>
</div>

</main>

<%- include('../partials/footer') %>