<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

<a href="/foods/category/Fruits & Veggies">
  <img src="/images/auth/google/fibers.png" alt="different types of fruits & veggies" width="200" height="200">
</a>

<a href="/foods/category/Protein">
  <img src="/images/auth/google/protein.png" alt="different types of protein" width="200" height="200">
</a>

<a href="/foods/category/Grains">
  <img src="/images/auth/google/grains.png" alt="different types of grains" width="200" height="200">
</a>

</main>

<%- include('../partials/footer') %>