<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

<a href="/foods/category/fruits">
  <img src="/images/auth/google/fibers.png" alt="fruits" width="200" height="200">
</a>

<a href="/foods/category/protein">
  <img src="/images/auth/google/protein.png" alt="protein" width="200" height="200">
</a>

<a href="/foods/category/grains">
  <img src="/images/auth/google/grains.png" alt="grains" width="200" height="200">
</a>

</main>

<%- include('../partials/footer') %>