<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<% if (user) { %> 
  <h1>Contribute New Food</h1>
  <form action="/foods/category" method="POST">
    <label>Category:
      <select name="category" required>
        <option value="Fruits & Veggies">Fruits & Veggies</option>
        <option value="Proteins">Proteins</option>
        <option value="Grains">Grains</option>
      </select>
    </label><br>
    <label>Name:
      <input type="text" name="name" autocomplete="off" required>
    </label><br>
    <label>Preparation:
      <select name="preparation">
        <option value="Boil">Boil</option>
        <option value="Steam">Steam</option>
        <option value="Bake">Bake</option>
        <option value="None">None</option>
      </select>
    </label><br>
    <label>Cook Time:
      <input type="number" name="cookTime" min=0>Mins
    </label><br>
    <button type="submit">Contribute</button>
  </form>
<% } %> 

</main>

<%- include('../partials/footer') %>